body {
  background-color: rgb(219, 219, 219);
  font-family: "Lato", sans-serif;
  color: rgb(0, 0, 0);
}

section {
  margin-bottom: 20px;
  border: 5px solid;
}

section h2 {
  background-color: rgba(226, 187, 10, 0.814);
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
}

section li {
  color: #606060;
  padding: 05px;
}

h1 {
  display: flex;
  justify-content: center;
}

section > ul {
  list-style-type: none;
}

.sidebar-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  padding: 1rem;

  margin: 1rem;

  min-height: 100vh;
}

main {
  width: 66%;

  min-height: 50vh;
}

aside {
  width: 33%;

  order: -1;
}

.image2 {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
